/* ===== FunnelSans ===== */
@font-face {
  font-family: "FunnelSans";
  src: url("https://ecohomes.sa/fonts/FunnelSans/FunnelSans-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "FunnelSans";
  src: url("https://ecohomes.sa/fonts/FunnelSans/FunnelSans-LightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "FunnelSans";
  src: url("https://ecohomes.sa/fonts/FunnelSans/FunnelSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "FunnelSans";
  src: url("https://ecohomes.sa/fonts/FunnelSans/FunnelSans-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "FunnelSans";
  src: url("https://ecohomes.sa/fonts/FunnelSans/FunnelSans-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "FunnelSans";
  src: url("https://ecohomes.sa/fonts/FunnelSans/FunnelSans-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "FunnelSans";
  src: url("https://ecohomes.sa/fonts/FunnelSans/FunnelSans-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "FunnelSans";
  src: url("https://ecohomes.sa/fonts/FunnelSans/FunnelSans-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "FunnelSans";
  src: url("https://ecohomes.sa/fonts/FunnelSans/FunnelSans-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "FunnelSans";
  src: url("https://ecohomes.sa/fonts/FunnelSans/FunnelSans-BoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "FunnelSans";
  src: url("https://ecohomes.sa/fonts/FunnelSans/FunnelSans-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "FunnelSans";
  src: url("https://ecohomes.sa/fonts/FunnelSans/FunnelSans-ExtraBoldItalic.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
}

/* ===== NeueMontreal ===== */
@font-face {
  font-family: "NeueMontreal";
  src: url("https://ecohomes.sa/fonts/NeueMontreal/NeueMontreal-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("https://ecohomes.sa/fonts/NeueMontreal/NeueMontreal-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("https://ecohomes.sa/fonts/NeueMontreal/NeueMontreal-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("https://ecohomes.sa/fonts/NeueMontreal/NeueMontreal-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}
